.App {
  text-align: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-image: linear-gradient(to left, rgb(156, 145, 253), rgb(6, 0, 63));
}
header h2{
  font-size: 2rem;
  text-shadow: rgb(68, 68, 185) 3px 3px;
}
.meme-form{
  margin: 10px;
}
.meme-form input{
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
}
.meme-form button{
  background-color: rgb(46, 2, 87);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: x-large;
}

.meme{
  position: relative;
}

.meme h2{
  position: absolute;
  left: 50%;
  color: white;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);
}

#topText{
  top: 0px;
}
#bottomText{
  bottom: 0px;
}